<div class="d-flex align-items-center justify-content-center pt-4 flex-column">
    <h1 class="title mt-2">Aguardando início</h1>
    <h2 class="subtitle text-center px-5 mb-5">Sala [{{roomCode}}] aguardando jogadores...</h2>

    <div class="players">
        <div class="player" *ngFor="let char of characters" [ngClass]="char.slug">
            <div class="body">
                <h2>{{ char.nome }}</h2>
                <img [src]="'/characters/' + char.slug + '.png'" height="150px">
            </div>
            <div class="player-name">
                <p>{{ getPlayerNameByCharacter(char.nome) }}</p>
            </div>
        </div>
    </div>
</div>

<app-loader [text]="'teste'" [open]="loader"></app-loader>