.players {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 80%;
    max-width: 600px;

    padding: 10px;
    gap: 30px;

    .player {
        position: relative;

        display: flex;
        justify-content: center;
        flex-direction: column;

        width: 220px;

        border-radius: 15px;

        overflow: hidden;
        transition: 0.7s ease-in-out;

        &.active {
            box-shadow: 10px 10px 67px -35px rgba(240,22,240,1);
        }

        .body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            padding: 0px 15px;
            padding-top: 10px;

            border-radius: 15px 15px 0 0;
            background-color: #240430;

            h2 {
                font-size: 1.1em !important;
            }
        }

        .player-name {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 0 0 15px 15px;
            background-color: #170220;

            height: 40px;

            p {
                margin: 0;
            }
        }
    }
}