<div class="d-flex align-items-center justify-content-center pt-4 flex-column">
    <h1 class="title mt-2">Encontrar uma partida</h1>
    <div class="d-flex align-items-center justify-content-center px-5 mb-5 gap-2">
        <i class="fa-solid fa-left icons pointer" (click)="navigate('')"></i>
        <h2 class="subtitle text-center mb-0">Se junte aos seus amigos!</h2>
    </div>

    <app-input [label]="'USUÁRIO'" [placeholder]="'SEU APELIDO'" [icon]="'fa-user'" [(model)]="userName"></app-input>
    <app-input [label]="'CÓDIGO DA SALA'" [type]="'number'" [placeholder]="'100100'" [icon]="'fa-game-board'"
        [(model)]="roomCode"></app-input>

    <app-button (click)="enterRoom()" class="my-5" [text]="'Entrar'"></app-button>
</div>

<app-loader [text]="'Entrando...'" [open]="loader"></app-loader>