.content {
    position: relative;
    min-height: 100vh;

    overflow-x: hidden;

    background-image: url('/backgrounds/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}