.content {
    min-height: 100vh;

    // background-color: #030303 !important;
    background-image: url('/backgrounds/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}