<div class="d-flex align-items-center justify-content-center flex-column pt-4 home">
     <h1 class="title text-center mt-2">Conflict Protocol</h1>
     <h2 class="subtitle text-center px-5">Domine o código. Conquiste o protocolo</h2>
     <div class="d-flex align-items-center justify-content-center p-5 gap-3 flex-wrap">
          <app-button-home [text]="'CRIAR UMA PARTIDA'"></app-button-home>
          <app-button-home [text]="'ENCONTAR UMA SALA'"></app-button-home>
     </div>

     <div class="d-flex align-items-center justify-content-center p-5 gap-3 flex-column">
          <div class="container">
               <div class="folder">
                    <div class="front-side">
                         <div class="tip"></div>
                         <div class="cover"></div>
                    </div>
                    <div class="back-side cover"></div>
               </div>
               <p class="custom-file-upload white">
                    Ler regras do jogo
               </p>
          </div>
     </div>
</div>