.title-1 {
    font-size: 2em;

    @media (max-width: 600px) {
        font-size: 1.3em !important;
    }

    @media (max-width: 370px) {
        font-size: 1.1em !important;
    }
}

.players {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 80%;
    max-width: 600px;

    padding: 10px;
    gap: 10px;

    .player {
        position: relative;

        display: flex;
        justify-content: center;
        flex-direction: column;

        width: 220px;

        border-radius: 15px;

        overflow: hidden;
        transition: 0.7s ease-in-out;

        &.active {
            box-shadow: 10px 10px 67px -35px rgba(240, 22, 240, 1);
        }

        .body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            padding: 0px 15px;
            padding-top: 10px;

            border-radius: 15px 15px 0 0;
            background-color: #240430;

            h2 {
                font-size: 1.1em !important;
            }
        }

        .player-name {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 0 0 15px 15px;
            background-color: #170220;

            height: 40px;

            p {
                margin: 0;
            }
        }
    }
}

.match-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
        margin: 15px;
        background-color: #000000;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 15px;
        padding: 10px 20px;

        box-shadow: 10px 1px 63px -10px rgba(240, 91, 240, 1);
    }
}

.icons-duo {
    font-size: 26px;
}

.dices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    width: 45px;
    height: 65px;

    border-radius: 10px;
    background-color: #1d0224;

    cursor: pointer;

    transition: 0.3s ease-in;

    &:hover {
        background-color: #060008;
    }
}