<div class="d-flex align-items-center justify-content-center pt-4 flex-column">
    <h1 class="title-1 mt-2">Jogador da rodada [{{roomCode}}]:</h1>
    <app-progress-bar *ngIf="currentPlayerName && currentPlayerCharacter"
        [durationInSeconds]="remainingTime"></app-progress-bar>
    <app-button *ngIf="this.isPlayer" class="my-2" [text]="'Próximo'"></app-button>

    <div class="players" *ngIf="currentPlayerName && currentPlayerCharacter">
        <div class="player me-3">
            <div class="body">
                <h2>{{ character }}</h2>
                <img [src]="'/characters/' + currentPlayerCharacter + '.png'" height="150px">
            </div>
            <div class="player-name">
                <p>{{ currentPlayerName }}</p>
            </div>
        </div>

        <div *ngIf="this.isPlayer" class="match-data">
            <h2>Simular dados</h2>
            <div class="dice d-flex gap-2">
                <div class="dices" (click)="rollDice(4)">
                    <p class="mb-0">D4</p>
                    <i class="fa-duotone fa-solid fa-dice-d4 icons-duo"></i>
                </div>
                <div class="dices" (click)="rollDice(6)">
                    <p class="mb-0">D6</p>
                    <i class="fa-duotone fa-solid fa-dice-d6 icons-duo"></i>
                </div>
                <div class="dices" (click)="rollDice(8)">
                    <p class="mb-0">D8</p>
                    <i class="fa-duotone fa-solid fa-dice-d8 icons-duo"></i>
                </div>
                <div class="dices" (click)="rollDice(10)">
                    <p class="mb-0">D10</p>
                    <i class="fa-duotone fa-solid fa-dice-d10 icons-duo"></i>
                </div>
                <div class="dices" (click)="rollDice(12)">
                    <p class="mb-0">D12</p>
                    <i class="fa-duotone fa-solid fa-dice-d12 icons-duo"></i>
                </div>
                <div class="dices" (click)="rollDice(20)">
                    <p class="mb-0">D20</p>
                    <i class="fa-duotone fa-solid fa-dice-d20 icons-duo"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loader [open]=" loader" [text]="'Buscando informações...'"></app-loader>
<app-dice-dialog [number]="diceNum"></app-dice-dialog>