<div class="d-flex align-items-center justify-content-center pt-4 flex-column">
    <h1 class="title mt-2">Sala {{roomCode}}</h1>

    <div *ngIf="currentPlayerName && currentPlayerCharacter" class="turn-info">
        <div class="player-box">
            <img [src]="'/characters/' + currentPlayerCharacter + '.png'" [alt]="currentPlayerCharacter"
                class="avatar" />

            <div class="player-data">
                <p class="player-name">{{ currentPlayerName }}</p>
                <p class="player-timer">{{ remainingTime }}s</p>
            </div>
        </div>
    </div>
</div>