@font-face {
    font-family: 'Knight';
    src: url('../public/fonts/knight/knight.ttf');
}

html,
body {
    min-height: 100%;
    height: auto;
}

h1 {
    font-family: 'Knight' !important;
    font-weight: 600 !important;
    font-size: 1.6em !important;

    color: #a250bb !important;
}

h2 {
    font-family: 'Knight' !important;
    font-weight: 500 !important;
    font-size: 1.2em !important;

    color: #633772 !important;
}

p {
    font-family: 'Knight' !important;
    font-weight: 400 !important;
    font-size: 1em !important;

    color: #694276 !important;
}

.icons {
    color: #694276;
}

// Elements

.separator {
    width: 80%;
    border-top: 1px solid #694276;
}

// Color

.white {
    color: #f1f1f1 !important;
}