@font-face {
    font-family: 'Knight';
    src: url('../public/fonts/knight/knight.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('../public/fonts/vt323/vt323.ttf');
}

html,
body {
    min-height: 100%;
    height: auto;
}

h1 {
    font-family: 'Knight' !important;
    font-weight: 600 !important;
    font-size: 1.6em !important;

    color: #a250bb !important;
}

h2 {
    font-family: 'Knight' !important;
    font-weight: 500 !important;
    font-size: 1.2em !important;

    color: #633772 !important;
}

p {
    font-family: 'Knight' !important;
    font-weight: 400 !important;
    font-size: 1em !important;

    color: #694276 !important;
}

.icons {
    color: #694276;
}

.title {
    font-size: 4em !important;

    @media (max-width: 768px) {
        font-size: 1.8em !important;
    }
}

.subtitle {
    font-size: 1.5em !important;

    @media (max-width: 768px) {
        font-size: 1.2em !important;
    }
}

// Actions

.pointer {
    cursor: pointer;
}

// Elements

.separator {
    width: 80%;
    border-top: 1px solid #694276;
}

// Color

.white {
    color: #f1f1f1 !important;
}