@font-face {
    font-family: 'Knight';
    src: url('../public/fonts/knight/knight.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('../public/fonts/vt323/vt323.ttf');
}

html,
body {
    min-height: 100%;
    height: auto;
}

h1 {
    font-family: 'Knight' !important;
    font-weight: 600 !important;
    font-size: 1.6em !important;

    color: #a250bb !important;
}

h2 {
    font-family: 'Knight' !important;
    font-weight: 500 !important;
    font-size: 1.2em;

    color: #633772 !important;
}

p {
    font-family: 'Knight' !important;
    font-weight: 400 !important;
    font-size: 1em;

    color: #694276;
}

.icons {
    color: #694276;
}

.icons-duo {
    --fa-primary-color: #694276;
    --fa-secondary-color: #694276;
}

.title {
    font-size: 4em !important;

    @media (max-width: 768px) {
        font-size: 1.8em !important;
    }

    @media (max-width: 370px) {
        font-size: 1.5em !important;
    }
}

.subtitle {
    font-size: 1.5em !important;

    @media (max-width: 768px) {
        font-size: 1.2em !important;
    }

    @media (max-width: 370px) {
        font-size: 0.7em !important;
    }
}

// Actions

.pointer {
    cursor: pointer;
}

// Elements

.separator {
    width: 80%;
    border-top: 1px solid #694276;
}

// Color

.white {
    color: #f1f1f1 !important;
}

// Scroll

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #5f1c73;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8e3ab1;
}